:root {
  --yellow: #ffcc03;
  --blue: #386abb;
  --blue-dark: #1e3b71;
  --red: #ee1515;
  --black: #222224;
  --white: #f0f0f0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  text-align: center;
  color:var(--yellow);
}

.main {
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 9fr;
}

.container-score{
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content:space-around;
}
.game-container {
  background-color: var(--blue-dark);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  width: 53rem;
  padding: 0.5rem;
}

.card {
  width: 160px;
  height: 180px;
  border: 2px solid var(--black);
  font-size: 1.5rem;
  border-radius: 10px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s;
}

.card-show{
  transform: rotateY(180deg);
}

.card__front,
.card__back {
  border-radius: 0.5rem;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.card__img {
  max-width: 100%;
  max-height: 100%;
  padding: 0.5rem;
  /* para que no detecte ningún evento de un click */
  pointer-events: none;
}

.card__back {
  background-image: linear-gradient(
      49deg,
      rgba(0, 0, 0, 0.1) 50%,
      transparent 40%
    ),
    linear-gradient(
      var(--red) 48.5%,
      var(--black) 48.5%,
      var(--black) 52.5%,
      var(--white) 52.5%
    );
}

.card__back::before{
  content:"?";
  color: var(--black);
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--white);
  border: 5px solid var(--black);
  background-image: linear-gradient(
    49deg,
    rgba(0, 0, 0, 0.05) 50%,
    transparent 40%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  /* backface-visibility: hidden; */
}

.card__front {
  background-color: lightblue;
  transform: rotateY(180deg);
}
